<!-- Footer -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12  text-center">
        <ul class="footer-menu">
            <li><a href="">About us</a></li>
            <li><a href="">How it works</a></li>
            <li><a href="">Feedback</a></li>
            <li><a href="">Locate Us </a></li>
            <li><a href="">Terms & Conditions</a></li>
            <li><a href="">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center mb-mt-30">
      	<p>Copyright @ 2020-2021 Yourcompany.com. All rights reserved. Follow us on&nbsp;&nbsp;&nbsp; <img src="assets/img/social.png" /></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
      	<p>We are also available on &nbsp;&nbsp;&nbsp;<img src="assets/img/app.png" /></p>
      </div>
    </div>   
  </div>
</div>
<!-- Footer -->
