<div class="login-form">
    <form action="/examples/actions/confirmation.php" method="post">
        <h2 class="text-center">Forgot Password</h2>
        <div class="form-group">
        	<div class="input-group">
                <span class="input-group-prepend"><i class="input-group-text fa fa-paper-plane"></i></span>
                <input type="email" class="form-control" name="email" placeholder="E-mail" required="required">
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary login-btn btn-block">Send OTP</button>
        </div>
    </form>
    <p class="text-center text-muted small">Allready have an account? <a routerLink="/login" >Sign in here!</a></p>
</div>
